import Settings._
import BuildTasks._

//scalaVersion     in ThisBuild := "2.9.2"
organization     in ThisBuild := "{{groupid}}{{^groupid}}org.sandbox{{/groupid}}"
organizationName in ThisBuild := "Coding Sandbox"

lazy val {{project}}{{^project}}util{{/project}} = (project in file("."))
	.settings(defaultSettings:_*)
	.settings(otherTasks:_*)
	.settings(name := "{{name}}{{^name}}intro_java-util{{/name}}"
        , version := "{{version}}{{^version}}0.1.0{{/version}}"
        /*, libraryDependencies ++= Seq(
            "org.scala-lang" % "scala-library" % "[2.9.2,)"
            , "junit" % "junit" % "[4.10,)" % "test"
			)*/
        //, externalIvySettingsURL(url("file://" + 
        //    sys.env.getOrElse("HOME", ".") + "/.ivy2/ivysettings.xml"))
        , externalIvySettings(Def.setting(file(sys.env.getOrElse("HOME", 
            ".") + "/.ivy2/ivysettings.xml")))
        , externalIvyFile()
        , classpathConfiguration in Compile := Compile
        , classpathConfiguration in Runtime := Runtime
        , classpathConfiguration in Test := Test
		//, publishArtifact := false
		//, unmanagedBase := baseDirectory.value / "lib"
		/*, unmanagedJars in Test ++= (java_lib ** ("hamcrest-core.jar" ||
            "junit.jar")).classpath
		, unmanagedJars in Compile ++= { 
            val base = baseDirectory.value
			val baseDirectories = (base / "lib") +++ (base / "../lib")
			val customJars = (baseDirectories ** "*.jar") +++ (java_lib ** 
				("slf4j-api.jar" || "jna.jar"))
			customJars.classpath }
        */)
	.settings(excludeFilter in Test in unmanagedSources := "ClassicTest.*")

//lazy val scalaCompat = sys.props.getOrElse("scala.compat", "2.9")
