package {{namespace}}{{^namespace}}org.sandbox.intro_groovy.util{{/namespace}}

import org.junit.Test
import static org.junit.Assert.*
import java.lang.reflect.Array

class ClassicTest {
	//private def tolerance = 2.0f * Float.MIN_VALUE
	private def epsilon = 1.0e-7f
	
    ClassicTest() {
    }
    
    Boolean in_epsilon(Float a, Float b, Float tolerance = 0.001f) {
		def delta = Math.abs(tolerance)
		//return (a - delta) <= b && (a + delta) >= b
		return !((a + delta) < b) && !((b + delta) < a)
	}
	
	public <T> T[][] cartesian_prod(T[] arr1, T[] arr2) {
		//def arr_prod = [arr1, arr2].combinations().findAll { true }
		def arr_prod = arr1.collectMany {x -> arr2.collect {y -> 
			[x, y].findAll { true }}}
		
		return arr_prod
	}
	
	@org.junit.BeforeClass
    static void setUpClass() throws Exception {
    	System.err.println("###setup TestCase###")
    }
    @org.junit.AfterClass
    static void tearDownClass() throws Exception {
    	System.err.println("###teardown TestCase###")
    }
    
    @org.junit.Before
    void setUp() {
    	System.err.println("setup Test ...")
    }
    @org.junit.After
    void tearDown() {
    	System.err.println("... teardown Test")
    }
	
    @Test
    void test_fact() {
        // get closure from method pointer: Classnm.&methodNm
        for (f in [Classic.&fact_i, Classic.&fact_lp])
        	assertEquals(120L, f.call(5))
    }
    @Test
    void test_expt() {
        Float[] param1 = [2.0f, 11.0f, 20.0f], param2 = [3.0f, 6.0f, 10.0f]
        
		for (row in cartesian_prod(param1, param2)) {
			def exp = Math.pow(row[0], row[1])
			// get closure from method pointer: Classnm.&methodNm
			for (f in [Classic.&expt_i, Classic.&expt_lp])
        		assertEquals(exp, f.call(row[0], row[1]), exp * epsilon)
        }
    }
}
