%module Classic_c

%{
#include <stdlib.h>
#include "intro_c/classic.h"
%}

%include "intro_c/classic.h"
//extern unsigned long fact_i(const unsigned long n);
//extern unsigned long fact_lp(const unsigned long n);

//extern float expt_i(const float b, const float n);
//extern float expt_lp(const float b, const float n);

// swig -java -v -package {{namespace}}{{^namespace}}org.sandbox.intro_java.util{{/namespace}} -I$(PREFIX)/include -outdir src/main/java/{{nesteddirs}}{{^nesteddirs}}org/sandbox/intro_java/util{{/nesteddirs}}/ -o build/classic_c_wrap.c src/main/java/{{nesteddirs}}{{^nesteddirs}}org/sandbox/intro_java/util{{/nesteddirs}}/Classic_c.i
