(ns ^{:doc "User record"} {{namespace}}{{^namespace}}org.sandbox.intro_jvm.util{{/namespace}}.User
    )

(defrecord User
    [name num timeIn]          ; fields
    Object                      ; interface|protocol|Object

    (toString [this] (pr-str this)))
    ;(toString [this] (format "{:name %s, :num %d, :timeIn %d}" name num
    ;	timeIn)))
