package {{namespace}}{{^namespace}}org.sandbox.intro_scala.util{{/namespace}} {

import org.scalatest._

abstract class UnitPropSpec extends PropSpec with prop.Checkers with Matchers with BeforeAndAfterEach with BeforeAndAfter

//object Tag1 extends Tag("Tag1")
//object Tag2 extends Tag("Tag2")

}
