package {{groupid}}{{^groupid}}org.sandbox{{/groupid}}.{{parent}}{{^parent}}intro_java{{/parent}}

/** DocComment:
 * <p>Brief description.</p> */
package object {{project}}{{^project}}util{{/project}} {
}
