<?xml version = '1.0' encoding = 'UTF-8'?>
<!-- version range ex: [0.1.0,)  0.1.+  latest.release -->
<!-- ivy cmdln cmds: (1) resolve ; (2) cachepath ; (3) retrieve ;
  (4) deliverto ; (5) publish ; (6) w/out ivy.xml - retrieve single depn
(1) java -jar ivy.jar [-settings ivysettings.xml] [-ivy ivy.xml] 
(2) java -jar ivy.jar [-ivy ivy.xml] -confs compile
  -cachepath classpath_compile.txt
(3) java -jar ivy.jar [-ivy ivy.xml]
  -retrieve 'lib/[artifact]-[revision](-[classifier]).[ext]'
(4) java -jar ivy.jar [-ivy ivy.xml] -revision X -deliverto 'ivy-[revision].xml'
(5) java -jar ivy.jar [-ivy ivy.xml] [-overwrite] -revision X.Y.Z
  -deliverto 'ivy-[revision].xml' -publishpattern 'ivy-[revision].xml'
  [-publishpattern '[artifact]-[revision](-[classifier]).[ext]'] -publish local
(6) java -jar ivy.jar -retrieve 'lib/[artifact]-[revision](-[classifier]).[ext]'
  -dependency <organisation> <module> <revision> [-notransitive]
-->
<!-- &var; to use as entity variable, example: &scala.lib; -->
<!-- % versions SYSTEM './src/main/resources/versions.xml' -->
<!-- % versions SYSTEM 'jar:file:./{parent}-{revision}.jar!/versions.xml' -->
<!DOCTYPE ivy-module [
  <!ENTITY scala.lib '/usr/local/share/scala/lib'>
  <!ENTITY % versions SYSTEM './src/main/resources/versions.xml'>

  %versions;
]>

<ivy-module version = '2.0'
    xmlns:xsi = 'http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation = 'http://ant.apache.org/ivy/schemas/ivy.xsd'>
  <info organisation = '{{groupid}}{{^groupid}}org.sandbox{{/groupid}}' module = '{{parent}}{{^parent}}intro_java{{/parent}}-parent' revision = '0'>
    <license name = '{{license}}{{^license}}Apache-2.0{{/license}}'
      url = 'https://opensource.org/licenses/{{license}}{{^license}}Apache-2.0{{/license}}'/>
    <description homepage = 'https://{{repohost}}{{^repohost}}bitbucket.org{{/repohost}}/{{repoacct}}{{^repoacct}}imcomputer{{/repoacct}}/{{parent}}{{^parent}}intro_java{{/parent}}'>
      {{parentdescription}}{{^parentdescription}}Multi-package project Intro examples for Java.{{/parentdescription}}
    </description>
  </info>
  <configurations defaultconfmapping = '*->compile,master,default'>
    <conf name = 'default' description = 'runtime depns and master' extends = 'runtime,master'/>
    <conf name = 'master' description = 'module artifact itself only, no transitive depns'/>
    <conf name = 'compile' description = 'default compile depns'/>
    <conf name = 'runtime' description = 'runtime depns' extends = 'compile'/>
    <conf name = 'test' description = 'test depns' extends = 'runtime'/>
    
    <conf name = 'sources' description = 'module source artifact only'/>
    <conf name = 'javadoc' description = 'module javadoc artifact only'/>
    <conf name = 'optional' description = 'optional depns'/>
  </configurations>
  <publications/>
  <dependencies defaultconfmapping = '*->compile,master,default'
      defaultconf = 'compile'>
    <dependency org = 'org.scala-lang' name = 'scala-library'
      rev = "&version.scala;" revConstraint = "[&version.scala;,)">
      <!--<artifact m:classifier = 'sources' type = 'source' ext = 'jar'
        url = "file://${scala.lib}/scala-library-sources.jar"
        name = 'scala-library'/>-->
        <artifact type = 'jar' name = 'scala-library'/>
    </dependency>
    <dependency conf = 'test' org = 'org.scalatest' name = "scalatest_${scala.compat}"
      rev = "&version.scalatest;" revConstraint = "[&version.scalatest;,)"/>
    <dependency conf = 'test' org = 'org.scalacheck' name = "scalacheck_${scala.compat}"
      rev = "&version.scalacheck;" revConstraint = "[&version.scalacheck;,)"/>
    
    <dependency conf = 'test' org = 'junit' name = 'junit' rev = "&version.junit;"
      revConstraint = "[&version.junit;,)"/>
    <dependency conf = 'test' org = 'org.testng' name = 'testng' rev = "&version.testng;"
      revConstraint = "[&version.testng;,)"/>
    
    <dependency org = 'org.slf4j' name = 'log4j-over-slf4j'
      rev = "&version.slf4j;" revConstraint = "[&version.slf4j;,)"/>
    <dependency org = 'ch.qos.logback' name = 'logback-classic'
      rev = "&version.logback;" revConstraint = "[&version.logback;,)"/>
    
    <dependency org = 'org.ini4j' name = 'ini4j' rev = "&version.ini4j;"
      revConstraint = "[&version.ini4j;,)"/>
    <dependency org = 'net.java.dev.jna' name = 'jna' rev = "&version.jna;"
      revConstraint = "[&version.jna;,)"/>
    
    <dependency org = 'javax.json' name = 'javax.json-api'
      rev = "&version.jsonp;" revConstraint = "[&version.jsonp;,)"/>
    <dependency org = 'org.glassfish' name = 'javax.json'
      rev = "&version.jsonp;" revConstraint = "[&version.jsonp;,)"/>
    <dependency org = 'org.yaml' name = 'snakeyaml'
      rev = "&version.snakeyaml;" revConstraint = "[&version.snakeyaml;,)"/>
  </dependencies>
</ivy-module>
